/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Heading Styles */
h1 {
    line-height: 1.2;
    margin-bottom: 1rem;
}

/* Link Styles */
a {
    color: #9932CC  ;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #412d79;
    color: white;
    text-decoration: none;

}

/* Button Styles */
button, .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
}

button:hover, .btn:hover {
    background-color: #412d79;
}